.footer {
  background-color: $color-neutral-dark-blue;
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  align-items: start;
  justify-items: center;
  @media only screen and (max-width: 888px) {
    padding: 5rem 10rem;
  }
  @media only screen and (max-width: 668px) {
    padding: 5rem;
  }
  @media only screen and (max-width: 400px) {
    padding: 3rem;
    gap: 0;
    row-gap: 2rem;
    justify-items: center;
  }

  &__logo {
  }
  &__social {
    @media only screen and (max-width: 888px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    @media only screen and (max-width: 400px) {
      grid-column: 1 / span 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .icon-container {
      margin-top: 3rem;

      i {
        color: $color-light-grey;
        font-size: 2rem;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s;
        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  &__nav {
    display: flex;
    @media only screen and (max-width: 400px) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 400px) {
    }
  }

  &__item {
    width: max-content;
    padding: 1rem 2rem;
    display: inline-block;
    position: relative;
    &::before {
      display: inherit;
      content: "";
      height: 0;
      width: 0;
      background-color: $color-primary-red;
      position: absolute;
      bottom: 0;
      left: 50%;
      transition: all 0.5s ease-in;
    }

    &:hover::before {
      width: 100%;
      height: 2px;
      left: 0;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-transform: capitalize;
      text-decoration: none;
      color: $color-light-grey;
      font-size: 1.6rem;
    }
  }

  &__form-group {
    display: flex;
    @media only screen and (max-width: 1300px) {
      grid-column: 1 / span 2;
    }
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (max-width: 400px) {
      grid-column: 1 / span 2;
    }
  }

  &__input {
    font-family: "Be Vietnam", sans-serif;
    padding: 1rem 2rem;
    border-radius: 10rem;
    width: 25rem;

    @media only screen and (max-width: 500px) {
      margin-bottom: 2rem;
    }
  }
}
